.tag-assignment-wrapper {
	background: #fff;
	padding: 5px 20px 20px;
	width: 600px;
	margin: auto;
}

.tag-container {
	background: #eee;
	padding: 20px;
	margin: 0 20px;
}

.button {
	background: #CA5C00;
	color: #ffffff;
	font-size: 18px;
	border-radius: 10px;
	background: ;
	border: 5px solid #E58739;
	padding: 12px;
	text-decoration: none;
}

.button:hover {
	background: #E58739;
}

.tag {
	background: #CA5C00;
	color: #ffffff;
	font-size: 14px;
	border-radius: 10px;
	margin: 2px 5px 2px 0;
	padding: 5px;
}

.tag-clickable {
	cursor: pointer;
}

.tag-clickable:hover {
	background: #E58739;	
}

.tag-remove {
	color: #ccc;
	font-family: 'Lucida Console', Monaco, monospace; 
	padding: 3px;
}

.tag-remove a,
.tag-remove a:visited,
.tag-remove a:active,
.tag-remove a:hover {
	text-decoration: none;
	color: #fff;
}

.clear-both {
	clear: both;
}

/* For the Your Tags pag */
#results a, 
#results a:visited, 
#results a:active,
#results a:hover 
 {
	text-decoration: none;
	color: black;
} 

#results h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #C41200;
}

#results .middle {
	margin-top: 40px;
}

.result p {
	margin-bottom: 5px;
}

.yelp-red {
	color: #C41200
}

.close {
	margin-bottom: 0px;
	margin-top: 0px;
}